.statItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  border: solid 1px gray;
  width: 72px;
}

.statList {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.statLabel {
  background-color: teal;
  color: #fff;
  width: 72px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.title {
  text-align: center;
  padding-bottom: 16px;
  margin: 0;
  text-transform: uppercase;
}

.statistics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border: solid 1px grey;
  width: fit-content;
}
